# Keil MDK-ARM / uVision ignore files
# Directories
Listings/
Objects/
DebugConfig/
RTE/

# Compiler/Linker Output
*.o
*.d
*.crf
*.lnp
*.axf
*.map
*.htm
*.build_log.htm
*.dep
*.lst
*.hex
*.bin

# User-specific UVision files
*.uvguix.*
*.uvgui.*
*.uvoptx

# VSCode or other IDEs
.vscode/
.cache/
